/* 전체 폰트를 Pretendard로 설정 */
* {
  font-family: 'Pretendard', sans-serif;
  /* Pretendard 폰트 설정 */
  box-sizing: border-box;
  /* 패딩과 보더를 포함한 박스 모델 설정 */
}

.box {
  background-color: rgba(248, 221, 221, 0.5);
  border: 3px solid rgba(84, 60, 60, 0.5);
  width: 100px;
  height: 100px;
  font-size: 30px;
  font-weight: bold;
  display: flex;
  color: rgb(78, 50, 50);
  justify-content: center;
  align-items: center;
  border-radius: 30px;
}

.row {
  display: flex;
  flex-direction: row;
  gap: 2px;
  margin-bottom: 2px;
}

.screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.gameover {
  position: fixed;
  /* 전체 화면을 덮기 위해 fixed로 변경 */
  top: 0;
  /* 화면 상단에 위치 */
  left: 0;
  /* 화면 왼쪽에 위치 */
  width: 100%;
  /* 전체 너비 */
  height: 100%;
  /* 전체 높이 */
  background-color: rgba(238, 228, 218, 0.8);
  /* 반투명 배경 */
  display: flex;
  /* 중앙 정렬을 위해 flex 사용 */
  align-items: center;
  /* 수직 중앙 정렬 */
  justify-content: center;
  /* 수평 중앙 정렬 */
  font-size: 32px;
  font-weight: bold;
  color: rgb(78, 50, 50);
  border-radius: 10px;
  z-index: 10;
  animation: fadeIn 0.5s;
  /* 간단한 애니메이션 추가 */
}

/* 애니메이션 정의 */
@keyframes fadeIn {
  from {
    opacity: 0;
    /* 처음에는 투명 */
  }

  to {
    opacity: 1;
    /* 마지막에는 불투명 */
  }
}

.score {
  font-size: 24px;
  font-weight: bold;
  color: rgb(78, 50, 50);
  margin-bottom: 20px;
  margin-top: 20px;
}
